@font-face {
  font-family: Floripa;
  font-display: swap;
  src: url("../fonts/Floripa.woff2") format("woff2"), url("../fonts/Floripa.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Heavy.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Heavy.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-MediumItalic.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  font-display: swap;
  src: url("../fonts/HelveticaNeueCyr-Medium.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

.title {
  font-family: "Floripa";
  font-weight: 400;
  font-size: 48px;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #000907;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.pic {
  max-width: 100%;
}

a:hover {
  color: #F2F2F2;
}

button {
  border-radius: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  background-color: #F2F2F2;
  cursor: pointer;
}

button:hover {
  color: #F2F2F2;
  background-color: #F2F2F2;
}

li {
  list-style-type: none;
}

input {
  outline: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F2F2F2;
  color: #000907;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "HelveticaNeueCyr";
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.circle {
  width: 214px;
  height: 214px;
  border: 1px solid #65E1BA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  position: fixed;
  z-index: 10;
  padding-top: 32px;
  width: 100%;
}

.header__wrapper {
  max-width: 1500px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__container {
  padding-bottom: 20.5px;
  border-bottom: 2px solid #65E1BA;
}

.header .menu__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
  display: none;
}

.header .menu__close:hover span {
  background-color: #F2F2F2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .menu__close span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 0;
  background-color: #65E1BA;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .menu__close span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu__close span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .burger {
  width: 40px;
  height: 33px;
  position: relative;
  display: none;
}

.header .burger:hover {
  cursor: pointer;
}

.header .burger:hover span {
  background-color: #F2F2F2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.header .burger span {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  height: 4px;
  width: 100%;
  background-color: #65E1BA;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.header .burger span:last-child {
  top: 100%;
  -webkit-transform: translate(0, -100%);
      -ms-transform: translate(0, -100%);
          transform: translate(0, -100%);
}

.header .burger span:first-child {
  top: 0;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.header .menu__item {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 1px;
  color: #F2F2F2;
  border: 2px solid #65E1BA;
  padding: 8px 12px;
  border-radius: 32px;
  margin-right: 16px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header .menu__item a {
  color: #F2F2F2;
}

.header .menu__item:hover,
.header .menu__item:active {
  color: #060000;
  background-color: #65E1BA;
  cursor: pointer;
}

.header .menu__item:hover a,
.header .menu__item:active a {
  color: #060000;
}

.header .menu__item:last-child {
  margin-right: 0;
}

.header__title {
  font-weight: 400;
  font-size: 32px;
  line-height: 1;
  color: #65E1BA;
}

.header_active {
  background-color: rgba(0, 0, 0, 0.5);
}

.header_active .header__container {
  border: none;
}

.no-webp .intro {
  background: url("../img/intro-fon.jpg") center/cover no-repeat; }

.intro {
  padding: 219px 0 82px 0;
  position: relative;
  text-align: center;
  margin-bottom: 140px;
}

.intro__container {
  position: relative;
  z-index: 2;
}

.intro__title {
  font-weight: 400;
  max-width: 876px;
  margin: 0 auto;
  font-size: 60px;
  line-height: 1.5;
  color: #65E1BA;
  margin-bottom: 43px;
}

.intro__subtitle {
  max-width: 314px;
  margin: 0 auto;
  color: #F2F2F2;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 11px;
}

.intro__button {
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  margin: 0 auto;
  background-color: #65E1BA;
  display: inline-block;
  border: none;
  padding: 8px 54px;
  border-radius: 22px;
  border: 1px solid transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.intro__button:hover,
.intro__button:active {
  background-color: transparent;
  color: #F2F2F2;
  border: 1px solid #65E1BA;
}

.intro .gradient {
  background-color: #000C0B;
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about {
  padding-bottom: 137px;
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  font-size: 48px;
  min-width: 315px;
  font-weight: 400;
  margin-bottom: 40px;
}

.about__bottom-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__column-left {
  border-top: 2px solid #000907;
  margin-right: 110px;
  padding: 40px 0 21px 0;
  border-bottom: 2px solid #65E1BA;
}

.about .number-one {
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 80px;
}

.about__description {
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 345px;
}

.about .learn-more {
  text-align: right;
  font-size: 16px;
  line-height: 160%;
  padding-right: 24px;
  position: relative;
  display: inline-block;
  float: right;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.about .learn-more:hover {
  cursor: pointer;
  color: #65E1BA;
}

.about .learn-more:hover .about__arrow-img {
  top: -5px;
  right: -5px;
}

.about__arrow-img {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.about__img {
  width: 490px;
  height: 100%;
  position: relative;
  padding-bottom: 3px;
  z-index: 1;
}

.about__pic {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__img::after {
  content: "";
  position: absolute;
  background: #65E1BA;
  bottom: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  z-index: 1;
}

.achievement {
  padding: 140px 0;
  background-color: #65E1BA;
}

.achievement__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievement__row-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 117px;
}

.achievement__title {
  font-weight: 400;
  max-width: 700px;
  font-size: 48px;
  line-height: 48px;
}

.achievement__column {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.achievement .circles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.achievement .circles .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid #000907;
  position: relative;
  cursor: pointer;
}

.achievement__arrow-img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.achievement .prev:hover .achievement__arrow-img {
  margin-left: -6px;
}

.achievement .circle:first-child {
  margin-right: 22px;
}

.achievement .next:hover .achievement__arrow-img {
  margin-left: 6px;
}

.achievement__row-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  text-align: center;
}

.achievement__column {
  margin-bottom: 30px;
}

.achievement .column__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  cursor: pointer;
  padding-bottom: 28px;
}

.achievement .column__subtitle {
  margin: 0 auto;
  cursor: pointer;
  width: 280px;
  font-size: 20px;
  line-height: 140%;
}

.use {
  padding: 140px 0;
}

.use__title {
  font-size: 48px;
  line-height: 48px;
  position: relative;
  padding-right: 87px;
  width: 780px;
}

.use__arrow-img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.use__header {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 107px;
}

.use__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.use__list {
  list-style: none;
  width: 713px;
}

.use .use__item {
  border-top: 2px solid #65E1BA;
  line-height: 160%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
}

.use .use__item:last-child {
  border-bottom: 2px solid #65E1BA;
}

.use .item__title {
  font-size: 36px;
  line-height: 36px;
  margin-right: 250px;
}

.use .item__text {
  text-align: right;
  line-height: 160%;
}

.use .arrow {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
  margin-left: 57px;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
}

.use .arrow .line-all {
  background: #65E1BA;
  border-radius: 2px;
  position: absolute;
  height: 5px;
  border-radius: 0;
}

.use .arrow__line-1 {
  top: 0;
  left: 1px;
  width: 30px;
}

.use .arrow__line-2 {
  top: 50%;
  left: 50%;
  width: 30px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.use .arrow__line-3 {
  bottom: 40%;
  left: 50%;
  width: 42px;
  -webkit-transform: translate(-50%, 50%) rotate(-45deg);
      -ms-transform: translate(-50%, 50%) rotate(-45deg);
          transform: translate(-50%, 50%) rotate(-45deg);
}

.go {
  background-color: #65E1BA;
  padding: 140px 0 90px;
}

.go__word {
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 28px;
}

.go__title {
  font-weight: 550;
  font-size: 40px;
  line-height: 40px;
}

.go__arrow-pic {
  width: 33px;
  height: 33px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.go__begin {
  padding-bottom: 15px;
  border-bottom: 5px solid #000907;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.go__begin:hover .go__arrow-pic {
  margin-top: -5px;
  margin-right: -5px;
}

.autopark {
  padding: 140px 0 0;
  margin-bottom: 140px;
}

.autopark__title {
  font-size: 48px;
  line-height: 48px;
  margin-bottom: 90px;
}

.autopark__body {
  margin-bottom: 165px;
}

.autopark__line {
  height: 2px;
  background-color: #000907;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.autopark__line .car-line {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.autopark .cars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.autopark .car {
  width: 25%;
  border: 2px solid #000907;
  border-right: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F2F2F2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.autopark .car:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  border-right: 2px solid #000907;
  position: relative;
  z-index: 1;
}

.autopark .car:last-child {
  border-right: 2px solid #000907;
}

.autopark .car__title {
  position: absolute;
  top: 22px;
  left: 22px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.autopark .car__img {
  width: 90%;
}

.autopark .car__pic {
  width: 100%;
  height: auto;
}

.autopark .car__top {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 191px;
          flex: 1 0 191px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  position: relative;
}

.autopark .car__bottom {
  padding: 37px 42px;
  background-color: #65E1BA;
}

.autopark .car__container {
  background-color: #fff;
  text-align: center;
  padding: 15px 10px 23px;
}

.autopark .car__rate {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}

.autopark .car__text {
  font-size: 12px;
  line-height: 160%;
  margin-bottom: 33px;
}

.autopark .btn {
  padding: 3px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.autopark .btn-rate {
  background-color: #65E1BA;
  font-size: 12px;
  line-height: 160%;
  padding: 3px 0;
}

.ticket {
  margin-bottom: 140px;
}

.ticket__container {
  padding: 0 0 0 203px;
}

.ticket__title {
  font-size: 48px;
  line-height: 48px;
}

.ticket__img {
  width: 489px;
  height: 398px;
}

.ticket__top {
  margin-bottom: 108px;
}

.ticket__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ticket__column-left {
  margin-right: 40px;
}

.ticket__text {
  line-height: 145%;
}

.ticket__text p {
  margin-bottom: 36px;
}

.ticket__text p:last-child {
  margin-bottom: 72px;
}

.ticket__circle {
  margin-left: 106px;
}

.ticket__learn-more {
  cursor: pointer;
  width: 180px;
  height: 180px;
  background-color: #65E1BA;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.ticket__learn-more a {
  text-decoration: none;
  color: #000907;
  font-size: 16px;
  line-height: 140%;
}

.ticket__learn-more:hover {
  width: 100%;
  height: 100%;
}

.ticket__learn-more:hover a {
  color: #F2F2F2;
}

.franchise {
  padding-top: 140px;
  margin-bottom: 140px;
}

.franchise__title {
  padding: 3px 0 0 0;
  font-size: 48px;
  line-height: 120%;
  position: relative;
  margin-bottom: 50px;
}

.franchise__word {
  position: absolute;
  top: 47px;
  left: -100px;
  font-family: "HelveticaNeueCyr";
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: #65E1BA;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.franchise__subtitle {
  font-size: 24px;
  line-height: 140%;
  font-weight: 400;
  margin-bottom: 36px;
}

.franchise__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.franchise__input {
  border: none;
  background-color: #65E1BA;
  width: 458px;
  height: 80px;
  padding-left: 30px;
  font-size: 16px;
  line-height: 145%;
}

.franchise__input::-webkit-input-placeholder {
  color: #000907;
}

.franchise__input::-moz-placeholder {
  color: #000907;
}

.franchise__input:-ms-input-placeholder {
  color: #000907;
}

.franchise__input::-ms-input-placeholder {
  color: #000907;
}

.franchise__input::placeholder {
  color: #000907;
}

.franchise__btn {
  height: 80px;
  width: 224px;
  font-size: 16px;
  line-height: 145%;
  border: none;
  background-color: #51D4B5;
}

.franchise__btn:hover {
  background-color: #51D4B5;
}

.answer-on-question {
  padding: 0 100px 131px 0;
}

.answer-on-question .answer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 27px;
}

.answer-on-question a:hover {
  color: #65E1BA;
}

.answer-on-question .answer__title {
  font-size: 32px;
  line-height: 32px;
  margin-right: 15px;
}

.answer-on-question__title {
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -0.03em;
  margin-bottom: 60px;
}

.answer-on-question .list-question__item {
  padding: 40px 20px 40px 0;
  border-top: 2px solid #65E1BA;
}

.answer-on-question .list-question__item:last-child {
  border-bottom: 2px solid #65E1BA;
}

.answer-on-question .answer__cross {
  width: 21px;
  height: 21px;
  position: relative;
  margin-top: 5px;
  z-index: 4;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.answer-on-question .answer__cross .cross {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%) rotate(0deg);
      -ms-transform: translate(0, -50%) rotate(0deg);
          transform: translate(0, -50%) rotate(0deg);
  width: 21px;
  display: inline-block;
  height: 2px;
  background-color: #000907;
  z-index: -1;
}

.answer-on-question .answer__cross .cross-1 {
  border-radius: 2px 0 0 2px;
}

.answer-on-question .answer__cross .cross-2 {
  -webkit-transform: translate(0, -50%) rotate(90deg);
      -ms-transform: translate(0, -50%) rotate(90deg);
          transform: translate(0, -50%) rotate(90deg);
}

.answer-on-question .answer-list {
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.answer-on-question .answer-list li {
  padding-left: 26px;
  font-size: 22px;
  line-height: 163.5%;
  position: relative;
}

.answer-on-question .answer-list li:before {
  content: "";
  width: 13px;
  height: 13px;
  background-color: #65E1BA;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.answer-on-question .js-list-animat-open.answer-list {
  opacity: 1;
  display: block;
}

.answer-on-question .js-list-animat-close.answer-list {
  opacity: 0;
}

.answer-on-question .js-list {
  display: none;
}

.answer-on-question .js-cross {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.answer-on-question .js-cross .cross {
  background-color: #65E1BA;
}

.answer-on-question .js-cross .cross-1 {
  border-radius: 0;
}

.team {
  margin-bottom: 140px;
  text-align: center;
}

.team__title {
  font-size: 40px;
  line-height: 150%;
  margin-bottom: 80px;
}

.team__input {
  width: 100%;
  height: 78px;
  border: none;
  background-color: #F2F2F2;
  border-top: 2px solid #65E1BA;
  border-bottom: 2px solid #65E1BA;
  margin-bottom: 65px;
  text-align: center;
  font-size: 24px;
  line-height: 140%;
}

.team__input::-webkit-input-placeholder {
  font-size: 24px;
  line-height: 140%;
  color: #000907;
  text-align: center;
}

.team__input::-moz-placeholder {
  font-size: 24px;
  line-height: 140%;
  color: #000907;
  text-align: center;
}

.team__input:-ms-input-placeholder {
  font-size: 24px;
  line-height: 140%;
  color: #000907;
  text-align: center;
}

.team__input::-ms-input-placeholder {
  font-size: 24px;
  line-height: 140%;
  color: #000907;
  text-align: center;
}

.team__input::placeholder {
  font-size: 24px;
  line-height: 140%;
  color: #000907;
  text-align: center;
}

.team__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team__circle {
  outline: none;
}

.team__circle span {
  display: inline-block;
  width: 184px;
  height: 184px;
  border-radius: 50%;
  background-color: #65E1BA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 140%;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.team__circle span:hover {
  width: 214px;
  height: 214px;
  color: #F2F2F2;
}

.no-webp .footer {
  background: url("../img/footer-fon.jpg") center 0/cover no-repeat; }

.footer {
  position: relative;
  padding: 150px 0 126px 0;
}

.footer::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5FEABE;
  mix-blend-mode: multiply;
}

.footer__container {
  border-top: 1px solid #000907;
  padding-top: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.footer__wrapper {
  max-width: 996px;
  margin: 0 auto;
}

.footer__title {
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  margin-bottom: 133px;
}

.footer__subtitle {
  font-size: 16px;
  line-height: 145%;
  font-weight: 400;
  margin-bottom: 32px;
}

.footer__input {
  border: none;
  background: transparent;
  padding-bottom: 11px;
  border-bottom: 1px solid #000907;
  width: 100%;
  padding-top: 10px;
  font-size: 16px;
  line-height: 145%;
}

.footer__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 145%;
  color: #000907;
}

.footer__input::-moz-placeholder {
  font-size: 16px;
  line-height: 145%;
  color: #000907;
}

.footer__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 145%;
  color: #000907;
}

.footer__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 145%;
  color: #000907;
}

.footer__input::placeholder {
  font-size: 16px;
  line-height: 145%;
  color: #000907;
}

.footer__column-right {
  text-align: right;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 132px;
}

.footer__menu-left {
  text-align: left;
  margin-right: 100px;
}

.footer__item {
  font-size: 16px;
  line-height: 145%;
  margin-bottom: 13px;
}

.footer__item:last-child {
  margin-bottom: 0;
}

.footer__text {
  font-size: 12px;
  line-height: 12px;
}

.footer .message-link {
  margin-right: 10px;
}

.footer .message-link:last-child {
  margin-right: 0px;
}

.footer__form {
  position: relative;
  width: 280px;
}

.footer__arrow-img {
  height: 12px;
  width: 12px;
  position: absolute;
  top: 12px;
  right: 5px;
}

@media screen and (max-width: 1550px) {
  .wrapper {
    padding: 0 20px;
  }

  .footer__wrapper {
    padding: 0 20px;
  }

  .header__wrapper {
    padding: 0 20px;
  }
}

@media screen and (max-width: 1280px) {
  .header__title {
    font-size: 28px;
  }

  .title {
    font-size: 36px;
  }

  .franchise__title {
    padding: 3px 0 0 33px;
  }

  .franchise__word {
    left: -50px;
  }

  .ticket__container {
    padding: 0;
  }

  .autopark .car__bottom {
    padding: 27px 30px;
  }
}

@media screen and (max-width: 1100px) {
  .header__menu {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }

  .header__title {
    font-size: 28px;
    width: 100%;
    text-align: left;
  }

  .header .burger {
    display: block;
  }

  .header .menu__close {
    display: block;
  }

  .header .menu {
    display: none;
  }

  .header .menu {
    display: block;
    position: absolute;
    width: 50%;
    top: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header .menu-right {
    right: -100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-left: 20px;
  }

  .header .menu-left {
    left: -100%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 20px;
  }

  .header .menu-active.menu-right {
    right: 0;
  }

  .header .menu-active.menu-left {
    left: 0;
  }

  .header .menu__item {
    text-align: center;
    padding: 15px 25px;
    font-size: 16px;
    width: 100px;
    margin-right: 0;
    margin: 0 0 40px 0;
  }

  .autopark .cars {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .autopark .car {
    width: 48%;
    border-right: 2px solid #000907;
  }

  .autopark .car:nth-child(n):nth-child(-n+2) {
    margin-bottom: 30px;
  }

  .about__column-left {
    margin-right: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    padding: 90px 0;
  }

  .title {
    font-size: 32px;
  }

  .intro {
    margin-bottom: 90px;
  }

  .intro__title {
    font-size: 36px;
  }

  .go__title {
    font-size: 32px;
  }

  .circle {
    width: 200px;
    height: 200px;
  }

  .header__title {
    font-size: 26px;
  }

  .team {
    margin-bottom: 90px;
  }

  .team__title {
    font-size: 36px;
  }

  .team__circle span {
    width: 170px;
    height: 170px;
  }

  .team__circle span:hover {
    width: 200px;
    height: 200px;
  }

  .franchise__title {
    padding: 3px 0 0 0px;
    font-size: 32px;
  }

  .franchise__word {
    left: 50%;
    top: -35px;
    -webkit-transform: translate(-50%, 0) rotate(0deg);
        -ms-transform: translate(-50%, 0) rotate(0deg);
            transform: translate(-50%, 0) rotate(0deg);
  }

  .ticket {
    margin-bottom: 90px;
    text-align: center;
  }

  .ticket__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ticket__learn-more {
    width: 166px;
    height: 166px;
  }

  .ticket__img {
    height: auto;
    width: 100%;
  }

  .ticket__text {
    max-width: 600px;
    margin: 0 auto;
  }

  .ticket__column-left {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .ticket__column-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ticket__circle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }

  .autopark {
    margin-bottom: 90px;
    padding-top: 90px;
  }

  .autopark__title {
    margin-bottom: 150px;
  }

  .autopark__body {
    margin-bottom: 110px;
  }

  .use {
    padding: 90px 0;
  }

  .use__title {
    width: 100%;
    padding: 0;
  }

  .use__list {
    width: 100%;
  }

  .use__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .achievement {
    padding: 90px 0;
  }

  .achievement .circles {
    margin: 0 auto;
  }

  .achievement__title {
    text-align: center;
    margin-bottom: 50px;
  }

  .achievement__row-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 70px;
  }

  .achievement .column {
    text-align: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33%;
            flex: 0 0 33%;
  }

  .achievement__row-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .achievement__row-bottom .column:nth-child(n):nth-child(-n+2) {
    margin-bottom: 100px;
  }

  .achievement .column__title {
    font-size: 26px;
  }

  .achievement .column__subtitle {
    max-width: 300px;
  }

  .about {
    padding-bottom: 90px;
  }

  .about__bottom-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about__title {
    margin-bottom: 60px;
    text-align: center;
  }

  .about__img {
    margin: 0 auto 40px;
    width: 90%;
    height: 400px;
  }

  .about__description {
    margin-bottom: 70px;
  }

  .about__column-left {
    margin-right: 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .title {
    text-align: center;
    font-size: 22px;
  }

  .go {
    padding: 90px 0 60px;
  }

  .go__title {
    font-size: 22px;
  }

  .header__title {
    font-size: 22px;
  }

  .header .burger {
    width: 30px;
    height: 21px;
  }

  .footer {
    padding: 70px 15px;
  }

  .footer__wrapper {
    max-width: 600px;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .footer__title {
    font-size: 18px;
    margin-bottom: 80px;
  }

  .footer__nav {
    margin-bottom: 80px;
  }

  .footer__column-left {
    margin-bottom: 70px;
  }

  .footer__form {
    max-width: 280px;
    margin: 0 auto;
  }

  .footer__column-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .team {
    margin-bottom: 70;
  }

  .team__title {
    font-size: 32px;
  }

  .team__circle span {
    width: 170px;
    height: 170px;
  }

  .answer-on-question {
    padding: 0 0px 131px 0;
  }

  .answer-on-question__title {
    font-size: 32px;
  }

  .answer-on-question .answer__title {
    font-size: 28px;
    line-height: 32px;
  }

  .franchise {
    margin-bottom: 90px;
  }

  .franchise__input {
    width: 358px;
    height: 50px;
    padding-left: 20px;
  }

  .franchise .franchise__btn {
    height: 50px;
    width: 224px;
  }

  .ticket {
    margin-bottom: 70px;
  }

  .ticket__top {
    margin-bottom: 80px;
  }

  .autopark {
    margin-bottom: 70px;
    padding-top: 70px;
  }

  .autopark__title {
    margin-bottom: 120px;
  }

  .autopark .cars {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .autopark .car {
    width: 80%;
  }

  .autopark .car:nth-child(n):nth-child(-n+3) {
    margin-bottom: 15px;
  }

  .autopark__body {
    margin-bottom: 80px;
  }

  .use {
    padding: 70px 0;
  }

  .use__title {
    width: 100%;
    padding: 0;
  }

  .use__list {
    width: 100%;
  }

  .use__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .use__arrow-img {
    right: 50%;
    top: 100%;
    -webkit-transform: translate(50%, 0);
        -ms-transform: translate(50%, 0);
            transform: translate(50%, 0);
  }

  .use .item__title {
    font-size: 22px;
    margin: 0 0 25px 0;
  }

  .use__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .use .item__text {
    text-align: center;
    max-width: 500px;
  }

  .achievement {
    padding: 70px 0;
  }

  .achievement__row-top {
    margin-bottom: 40px;
  }

  .achievement .column__title {
    padding-bottom: 15px;
  }

  .achievement .column__subtitle {
    max-width: 350px;
    margin: 0 auto;
  }

  .about {
    padding-bottom: 70px;
  }

  .about__description {
    font-size: 14px;
  }

  .intro {
    margin-bottom: 70px;
  }

  .intro__title {
    font-size: 32px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    padding: 0 5px;
  }

  .achievement .column__title {
    font-size: 18px;
  }

  .title {
    font-size: 20px;
  }

  .go__title {
    font-size: 22px;
  }

  .circle {
    width: 180px;
    height: 180px;
  }

  .header__title {
    font-size: 16px;
  }

  .header .menu {
    padding: 90px 0 0 0;
  }

  .header .menu__item {
    text-align: center;
    font-size: 14px;
    width: 80%;
    margin-right: 0;
    margin: 0 0 15px 0;
    padding: 15px 20px;
  }

  .header .menu {
    width: 100%;
  }

  .header .menu-left {
    padding-top: 300px;
  }

  .header .menu-left .menu__item {
    z-index: 100;
  }

  .footer__title {
    font-size: 18px;
  }

  .footer__wrapper {
    padding: 0 5px;
  }

  .team__input {
    margin-bottom: 45px;
    font-size: 16px;
  }

  .team__input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .team__input::-moz-placeholder {
    font-size: 16px;
  }

  .team__input:-ms-input-placeholder {
    font-size: 16px;
  }

  .team__input::-ms-input-placeholder {
    font-size: 16px;
  }

  .team__input::placeholder {
    font-size: 16px;
  }

  .team__title {
    font-size: 22px;
    margin-bottom: 40px;
  }

  .team__circle span {
    width: 150px;
    height: 150px;
    font-size: 16px;
  }

  .team__circle span:hover {
    width: 170px;
    height: 170px;
  }

  .answer-on-question {
    padding: 0 0px 90px 0;
  }

  .answer-on-question__title {
    font-size: 20px;
    text-align: center;
  }

  .answer-on-question .answer__title {
    font-size: 18px;
    line-height: 32px;
  }

  .answer-on-question .answer-list li {
    padding-left: 26px;
    font-size: 16px;
    position: relative;
  }

  .franchise__title.title {
    font-size: 15px;
  }

  .ticket__learn-more {
    width: 146px;
    height: 146px;
  }

  .ticket__top {
    margin-bottom: 40px;
  }

  .autopark__title {
    margin-bottom: 90px;
  }

  .autopark__body {
    margin-bottom: 60px;
  }

  .autopark .car {
    width: 95%;
  }

  .autopark .car:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .use__title {
    font-size: 18px;
  }

  .use .item__title {
    font-size: 20px;
    margin: 0 0 25px 0;
  }

  .use .item__text {
    max-width: 350px;
  }

  .intro__title {
    font-size: 22px;
  }
}

.webp .intro { background: url(../img/intro-fon.webp) center/cover no-repeat; }

.webp .footer { background: url(../img/footer-fon.webp) center 0/cover no-repeat; }